@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 4rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
